.card {
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 24px;
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 337px;
}

.card__content {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}

.card__like-btn {
  width: 23px;
  height: 20px;
  border: none;
  background: transparent url("../images/heart_hover.svg") center no-repeat;
  opacity: 0.4;
  margin-top: 12px;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn_liked {
  background-image: url("../images/like_red_heart.svg");
  opacity: 1;
}

.card__like-btn_liked:hover {
  background-image: url("../images/like_heart_hover_light.svg");
}
.card__delete-btn {
  width: 32px;
  height: 32px;
  background: url("../images/trash_icon.svg") center no-repeat
    rgba(0, 0, 0, 0.4);
  color: #ffffff;
  opacity: 30%;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
}

.card__delete-btn:hover {
  background-color: #ff6565;
  /* background-image: url("../images/delete_hover.svg"); */
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
  }

  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__like-btn {
    flex: 0 0 23px;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
    max-width: 235px;
  }
}
