.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal__opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background: #fff;
  padding: 32px 50px;
  width: 730px;
  position: relative;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
}

.modal__container_type_preview {
  padding: 0;
  background-color: transparent;
  width: min-content;
  /* height: fit-content; */
}

.modal__image {
  top: 81px;
  left: 221px;
  object-fit: contain;
  max-height: 80vh;
  max-width: 80vw;
  border-radius: 8px;
  display: block;
}

.modal__closed-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/closedsymbol.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
  cursor: pointer;
  border: none;
  background-position: center;
  background-color: transparent;
}

.modal__close-btn_type_preview {
  padding: 0;
  position: absolute;
  background-image: url("../images/close_light.svg");
  top: 0;
  width: 22.63px;
  height: 22.63px;
  left: calc(100% + 12.5px);
  /* right: -35px; */
  opacity: 1;
  border: none;
  background-position: center;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.modal__closed-btn:hover {
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin-top: 32px;
  border-radius: 8px;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  color: #212121;
  margin: 8px 0 0;
}

.modal__input::placeholder {
  color: #212121;
  opacity: 30%;
}

.modal__input:hover {
  border: 1px solid rgb(33, 33, 33);
}

.modal__error {
  display: block;
  visibility: hidden;
  color: red;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
  margin-top: 8px;
  /* TODO - Use correct color and font sizes */
  /* TODO - Make sure it is 32px in between when there is no ERROR!!! message */
  /* TODO - Create .modal__disable button*/
  /* TODO - Style save button */
}

.modal__error_visible {
  visibility: visible;
}

.modal__input_type_error {
  border: 1px solid rgba(255 0, 0, 0.6);
}

.modal__submit-btn {
  font-size: 16px;
  line-height: 1;
  width: 156px;
  padding: 18px 0;
  background-color: #212121;
  color: #fef5e5;
  border-radius: 8px;
  border: none;
  transition: background 0.3s;
  margin-top: 32px;
}

.modal__submit-btn:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.modal__submit-btn_disabled {
  background-color: grey;
}
.modal__caption {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 24px;
  color: #fff;
  background-color: #212121;
  border-radius: 8px;
  padding: 4px 8px;
  display: inline-block;
  margin: 0px 0 0;
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
}

@media screen and (max-width: 860px) {
  .modal__container {
    width: 80vw;
  }
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__image {
    max-width: 288px;
  }

  .modal__container_type_preview {
    max-width: 288px;
    padding: 12px 0px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__closed-btn {
    top: 16px;
    right: 15px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__close-btn_type_preview {
    top: -28px;
    right: 8px;
    left: auto;
  }
}

@media screen and (max-width: 480px) {
  .modal__container {
    width: 300px;
    padding: 22px 12px 12px;
  }
  .modal__container_type_preview {
    max-width: 288px;
    padding: 12px 0px;
  }
}
